.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login_logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.login_container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.login_container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login_container > form > h5 {
  margin-bottom: 5px;
}

.login_container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}

.login_container > p {
  margin-top: 15px;
  font-size: 12px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-input-container input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Add padding on the right to make space for the icon */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px; /* Adjust based on your design */
}

.password-input-container input::after {
  content: "";
  position: absolute;
  right: 10px; /* Adjust based on your design */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px; /* Adjust based on your design */
  color: #888;
  display: none; /* Initially hide the icon */
}

.password-input-container input.password-visible::after {
  content: "👁"; /* Unicode character for an eye icon, or use a FontAwesome icon */
  display: block;
}

.password-input-container input.password-hidden::after {
  content: "👁️"; /* Unicode character for an eye slash icon */
  display: block;
}

.login_signInButton {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
}

.login_registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
}

.additionalSignWith {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 8px;
}
.Icon {
  height: 25px;
  cursor: pointer;
}
